.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0rem;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: var(--dl-color-pimary-500);
}
.header-navlink {
  display: contents;
}
.header-logo {
  width: 256px;
  height: 102px;
  display: flex;
  background-size: cover;
  background-image: url("public/playground_assets/hcl-logowhite-text-transparent-background%20resized%20for%20ms365-200h.png");
  background-position: center;
}
.header-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  align-self: center;
  transition: 0.5s;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.header-container {
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 15px;
  justify-content: flex-end;
}
.header-menu-close {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: 20px;
  height: 20px;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header-navlink1 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink2 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink3 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-root-class-name {
  margin-bottom: 0px;
}
.header-root-class-name2 {
  flex: 0 0 auto;
  max-width: 100%;
  align-self: center;
}


@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    max-width: 100%;
    align-self: center;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
  .header-root-class-name2 {
    margin-bottom: 0px;
  }
}

.service-card-container {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.service-card-container1 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.service-card-icon {
  fill: var(--dl-color-secondary-100);
  width: 24px;
  height: 24px;
}
.service-card-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.service-card-text1 {
  color: var(--dl-color-secondary-500);
  font-size: 1.25rem;
  text-align: center;
}
@media(max-width: 991px) {
  .service-card-container {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}

.label-container {
  display: flex;
  position: relative;
}
.label-text {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}

.secondary-button-container {
  display: flex;
  position: relative;
}
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
.secondary-button-root-class-name {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-button-root-class-name1 {
  margin-top: var(--dl-space-space-unitandhalf);
}

.footer-container {
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
.footer-text {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: 0px;
}



.about-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.about-navbar-interactive {
  width: 100%;
  display: none;
  align-self: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: var(--dl-color-pimary-500);
}
.about-logo {
  width: 256px;
  height: 102px;
  text-decoration: none;
}
.about-desktop-menu {
  display: none;
}
.about-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-text01 {
  margin-left: 32px;
}
.about-text02 {
  margin-left: 32px;
}
.about-text03 {
  margin-left: 32px;
}
.about-text04 {
  margin-left: 32px;
}
.about-text05 {
  margin-left: 32px;
}
.about-btn-group {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login {
  border-width: 0px;
  margin-right: 32px;
}
.about-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 282px;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  align-self: center;
  transition: 0.5s;
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.about-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-navlink1 {
  display: contents;
}
.about-image {
  width: 256px;
  height: 102px;
  text-decoration: none;
}
.about-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon2 {
  width: 20px;
  height: 20px;
}
.about-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.about-navlink2 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink3 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink4 {
  align-self: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1563391017873-6e6beab67fed?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxjb25zdHJ1Y3Rpb258ZW58MHx8fHwxNjc4OTA3NDg5&ixlib=rb-4.0.3&w=1500');
}
.about-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.7;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.about-container02 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-container03 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.about-text06 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.about-section3 {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-800);
}
.about-container04 {
  width: auto;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.about-text07 {
  color: var(--dl-color-gray-700);
  font-style: normal;
  font-weight: 700;
}
.about-text08 {
  color: var(--dl-color-gray-black);
}
.about-text09 {
  color: var(--dl-color-gray-black);
  width: auto;
  max-width: 800px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  line-height: 1.75;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.about-services {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-container05 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-container06 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.about-icon4 {
  width: 24px;
  height: 24px;
}
.about-text23 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.about-text24 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.about-container07 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-container08 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.about-icon6 {
  width: 24px;
  height: 24px;
}
.about-text25 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.about-text26 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.about-contact {
  display: none;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.about-text27 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
}
.about-text28 {
  color: rgba(255,255,255,0.75);
  width: 80%;
  text-align: center;
  font-weight: 300;
}
.about-form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.about-text29 {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.about-text30 {
  color: rgba(100,116,139,1);
}
.about-text31 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.about-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.about-text32 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.about-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.about-text33 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.about-textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.about-container09 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 991px) {
  .about-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .about-container04 {
    width: 100%;
  }
  .about-services {
    align-items: center;
    flex-direction: column;
  }
  .about-container05 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .about-container07 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-text04 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-text05 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .about-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
  }
  .about-hero {
    height: 20vh;
  }
  .about-container03 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .about-text06 {
    color: var(--dl-color-gray-white);
  }
  .about-text08 {
    text-align: center;
  }
  .about-text27 {
    text-align: center;
  }
  .about-text29 {
    text-align: left;
  }
}
